# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_24_04:
    # its latest but my brain needs it
    runs-on: ubuntu-24.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw || true
        dpkg -l | grep x11 || true
        dpkg -l | grep mesa || true
        glxinfo | head || true
        ps aux | grep Xvfb
        echo $DISPLAY
        dotnet --info
        dotnet tool list --global
    - name: Fix
      run: sudo apt-get install -y xvfb mesa-utils && Xvfb :10 -screen 0 1024x768x24
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw || true
        dpkg -l | grep x11 || true
        dpkg -l | grep mesa || true
        glxinfo | head || true
        ps aux | grep Xvfb
        echo $DISPLAY
        dotnet --info
        dotnet tool list --global
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
