name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "main", "mlobanov" ]
  pull_request:
    branches: [ "main", "mlobanov" ]

jobs:
  build_latest:

    runs-on: ubuntu-latest

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        # sudo apt install -y libglfw3
        echo $LD_LIBRARY_PATH
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: |
        export LD_LIBRARY_PATH=/home/runner/.nuget/packages/ultz.native.glfw/3.4.0/runtimes/linux-x64/native:$LD_LIBRARY_PATH
        dotnet test --no-build --verbosity normal
      
  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        # sudo apt install -y libglfw3
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - run: |
        find /home/runner/.nuget/packages/ultz.native.glfw -name "libglfw.so.3"  || true
    - run: |
        find /lib -name "libglfw.so.3" || true
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity diagnostic
