name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "main", "mlobanov" ]
  pull_request:
    branches: [ "main", "mlobanov" ]

jobs:
  build_latest:

    runs-on: ubuntu-latest

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        # sudo apt install -y libglfw3
        dotnet --info | grep RID || true
    - run: |
        cat << EOF > /etc/apt/preferences.d/dotnet
        Package: *net*
        Pin: origin packages.microsoft.com
        Pin-Priority: 1001
        EOF
        sudo apt-get update
        sudo apt install -y dotnet-sdk-8.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: |
        dotnet test --no-build --verbosity normal
      
  build_22_04:
    runs-on: ubuntu-22.04
    env:
      DISPLAY: :10
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        # sudo apt install -y libglfw3
        dotnet --info | grep RID || true
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build
