name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "main", "mlobanov" ]
  pull_request:
    branches: [ "main", "mlobanov" ]

jobs:
  build_latest:

    runs-on: ubuntu-latest

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list -a libx11-6 || true
    - run: |
        apt list -a libx11-data || true
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build -v d
