# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_24_04:
    runs-on: ubuntu-24.04
    env:
      DISPLAY: :10
      MESA_LOADER_DRIVER_OVERRIDE: llvmpipe
      LIBGL_ALWAYS_SOFTWARE: 1
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw || true
        dpkg -l | grep x11 || true
        dpkg -l | grep mesa || true
        ps aux | grep Xvfb
        echo $DISPLAY
        dotnet --info
        dotnet tool list --global
    - name: Debug GL
      run: |
        printenv | grep -Ei 'mesa|gl|vk' || true
        ls -l /usr/lib/x86_64-linux-gnu/dri/ || true
        ldconfig -p | grep -Ei 'libGL|libEGL' || true
        ls -l /usr/share/vulkan/icd.d/ || true
        ls -l /etc/vulkan/icd.d/ || true
        cat /usr/share/glvnd/egl_vendor.d/* 2>/dev/null || true
        ps -e | grep -E 'Xorg|Xwayland|Xvfb' || true
        xdpyinfo 2>/dev/null || true
    - name: Fix
      run: sudo apt-get update && sudo apt-get install -y libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw || true
        dpkg -l | grep x11 || true
        dpkg -l | grep mesa || true
        ps aux | grep Xvfb
        echo $DISPLAY
        dotnet --info
        dotnet tool list --global
    - name: Debug GL
      run: |
        printenv | grep -Ei 'mesa|gl|vk' || true
        ls -l /usr/lib/x86_64-linux-gnu/dri/ || true
        ldconfig -p | grep -Ei 'libGL|libEGL' || true
        ls -l /usr/share/vulkan/icd.d/ || true
        ls -l /etc/vulkan/icd.d/ || true
        cat /usr/share/glvnd/egl_vendor.d/* 2>/dev/null || true
        ps -e | grep -E 'Xorg|Xwayland|Xvfb' || true
        xdpyinfo 2>/dev/null || true
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
