name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "main", "mlobanov" ]
  pull_request:
    branches: [ "main", "mlobanov" ]

jobs:
  build_latest:

    runs-on: ubuntu-latest

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        # sudo apt install -y libglfw3
        sudo apt install -y libx11-6 libx11-data libx11-dev libx11-xcb1 x11-common x11-xkb-utils x11proto-dev
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - run: |
        apt list --installed
    - run: |
        glxinfo || true
    - run: |
        sudo apt install -y libglfw3
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build -v d
