# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_latest:

    runs-on: ubuntu-latest

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw
        dpkg -l | grep x11
        dpkg -l | grep mesa
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  build_22_04:

    runs-on: ubuntu-22.04

    env:
      DISPLAY: :10
      
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.119
    - name: Restore dependencies
      run: dotnet restore
    - name: Debug dependencies
      run: |
        dpkg -l | grep glfw
        dpkg -l | grep x11
        dpkg -l | grep mesa
        echo $DISPLAY
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
